footer {
  background-color: #F1F1F1;
  padding: 20px 65px 0;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav_list {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.footer__nav_list:nth-child(2) {
  padding-top: 30px;
  padding-right: 160px;
}
.footer__nav_list:last-child {
margin-right: 60px;
}
.footer__nav_item {
  padding: 3px 0;
  width: 115px;
}
.footer__nav_item a {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.footer__socil {
  padding-top: 55px;
}
.footer__socil_title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}
.footer__socil_info {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #9B9B9B;
  display: flex;
  justify-content: space-between;
  padding-left: 230px;
}
.footer__socil_info span {
  color: #000000;
}
.footer__socil_icon {
  display: flex;
  gap: 11px;
}