.img-board {
  display: flex;
}
.img-board__block img {
  width: 720px;
  height: 936px;
}
.img-board__text {
  position: relative;
  left: 46px;
  top: -909px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.img-board__title {
  width: 485px;
  object-fit: cover;
  position: relative;
  left: 53px;
  top: -895px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  color: #000000;
}
.img-board__description {
  position: relative;
  left: 50px;
  bottom: 148px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
