.process {
  padding: 100px 63px 55px;
}
.process__title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  color: #000000;
  width: 637px;
  padding-bottom: 84px;
  }
.process__block-list {
  display: flex;
  gap: 20px;
  }
.process__block-item {
  display: flex;
  flex-direction: column;
  }
.process__block-item img {
  margin: 0 auto;
  height: 233px;
  width: 233px;
  }
.process__block-item_number {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  padding: 68px 0 72px;
  }
.process__block-item_text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 55px;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}